*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.of{
  overflow-x: visible;
}
.mt100vh{
  padding-top: 100vh;
  margin-top: 100vh;
}

.z10{
  z-index: 10;
}
.hm1{
  display: inline;
}
.dh11 {
  width: 100%;
  height: 100vh;
  background-image: url("./images/ob2.webp");
  background-size: cover;
}
.dh1{
  position: fixed;
  width: 100vw;
  z-index: 3;
  backdrop-filter: blur(4px);

}

.dh1 h1{ 
  margin: 0;
}

.hn1{
  background: rgb(0, 0, 0 , 0.5);
  height: 15vh;
}

.hn1 #a1{
  color:#FFCF00;
  text-decoration: solid;
  font-weight: bolder;
  font-size: xx-large;
  margin-right: 1px;
}

.hn1 #a1:hover{
  color: #ffdc3d;
  font-size: 2.5rem;
}

.dh2{
  width: 40vw;
}

.dh2 a{
  color: white;
}
.dh2 a:hover{
  color:#FFCF00;
  font-size: large;
}

/* Product Component */

.dp1{
  background: #acacac;
  padding: 15px;
  padding-top: 20vh;
  
}
.dp4{
  width: 250px;
}




.dp1 h1 , .cd2 h1{
  color: #FFCF00;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 0.5px;
  letter-spacing:2px;
  /* box-shadow: 0px 10px 0px rgb(232, 232, 232); */

  padding-left: 7px;
}

.dp21{
  background: #616161;


}
.mad{
  margin-left: auto;
  margin-right: auto;
}

.fd1{
  list-style: none;
}

.fd1 a{
  text-decoration: none;
  color: white;
}

.navbar-nav > .active > a {
  color: red;
}

.bgd1 {
  width: 100vw;
  /* height: 100vh; */
  background-image: url("./images/bg2.jpg");
  /* background-size: cover; */
  background-repeat: repeat-y;
  /* background-position:bottom; */
}

/* Cart */
.cd1{
  margin-top: 15vh;
  /* z-index: 10;
  background: #000; */
}

.cd2{
  padding-top: 20vh;
  /* z-index: 10;
  background: #000; */
}

/* Login */
.ld1{
  padding-top: 20vh;
}

.ld2{
  height: 85vh;
}

/* BAnana */

.fb1{
  padding-top: 15vh;
}

.c1{
color: yellow;
}

.dh7{
  list-style: none;
}

/* Badge */
.db1{
  position: relative;
  bottom : 5px  ;
  left: 15px;
}

.dd1{
  padding-top: 15vh;
}


/* input[type="file"] {
  display: none;
} */
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;

}

/* Map */
.map-container{
  width: 50vh;
  height: 50vh;
}
::-webkit-scrollbar {
  width: 0px;
}


.temp{
  display: none;
}

/* Responsive */
.minh{
  min-width: 450px;
  overflow: hidden;
}
.fx1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.ot1{
  font-size: 5rem;
}

.ad1{
  min-width: 239px;
}
/* .sd1{
  display: flex;
  
} */


.di{
  display: inline;
}

.ml{
  max-width: 850px;
}
.mnh{
  min-width: 240px;
}
@media (max-width : 767px){
  .dh2{
    display: none;
  }

  .temp{
    display: block;
  }

  .hn1 #a1{
 
    font-size: x-large;
    
  }
  
  .hn1 #a1:hover{
    color: #ffdb3d;
    font-size: x-large;
  }

 .dh11 {
  width: 100%;
  height:50vh ;
  background-size: cover;
}
.dn{
  display: none;
}
.dp2{
  padding: 0;
}

}

@media (max-width : 450px){
  .minh{
    min-width: 300px;
    height: 300px;
    overflow: hidden;
  }
}



.sidebar {
  position: fixed;
  right: -10vw;
  background-color: black;
  height: 100vh;
  width: 10vw;
  transition: right 0.3s ease-out;
  z-index: 1000; 
  margin-top: 15vh;
}

.sidebar.open {
  right: 0; 
}